{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<p>Test 1 : {% sayHello %}</p>

<p>Test 2 : {% function 2 %}</p>

<p>Test 3 : {% plus_two %}</p>

<p>Test 3 : {% plus_2 7 %}</p>

<p>Test 4 : {% total_post %}</p>

<div>
    <p>Test 5 :</p>
    {% posts as totalPost %}
    {% for post in posts %}
    <p>{{ post.title }}</p>
    <p>{{ post.content|snippet:75 }}</p>
    {% endfor %}
</div>

{% popularposts %}


</body>
</html>