<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer>
        alert('Why no defer?!?');
    </script>

    <!-- alert('Hello world!'); -->
    <script src="data:text/javascript;base64,YWxlcnQoJ0hlbGxvIHdvcmxkIScpOw=="
            defer></script>

    <script>
        alert('Buh-bye world!');
    </script>
</head>
<body>
<form action="{% url 'website:test' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="OK">
</form>
</body>
</html>